{% extends 'base.html' %}

{% block content %}
<div class="detail-container">
    <header class="detail-header">
        <form action="{% url 'main' %}">
            <button type="submit" class="homebutton">HOME</button>
        </form>
        <h1 class="detail-title">{{ one.title }}</h1>
        <hr class="detail-divider">
    </header>

    <section class="detail-content">
        <p>{{ one.particular }}</p>
    </section>
    <form action='{% url 'delete' one.slug %}' method='POST'>
        {% csrf_token %}
        <button type='submit' class='deletebutton'>DELETE</button>
    </form>
</div>
{% endblock %}
